/*************** Reset *********************/
* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}
/*Billedernes fylde*/
img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
/*Sidens farve*/
body {
  background-image: url("forside/baggrund_1.webp");
  background-size: cover; /* fylder hele elementet */
  background-position: center; /* centrerer billedet */
  background-repeat: no-repeat; /* gentager ikke billedet */
}
/* Overskrifterne og font*/
h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-style: oblique;
  font-size: 40px;
  color: #4a3d2e;
}
/*Restaurant navnene og font*/
h2 {
  text-align: center;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: oblique;
  font-size: 29px;
  color: #4a3d2e;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-style: oblique;
  font-size: 23px;
  color: #4a3d2e;
}
/*De fyldene tekster og deres font*/
p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #4a3d2e;
}
/*Tekst i links*/
ul li {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 20px;
}
/*Sidens placering - fylde i siderne og top, bund*/
main {
  padding: 5px 120px 5px 120px;
}
/*Headeren på siden*/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}
nav {
  display: flex;
  align-items: center;
}
/*Knapperne i menuen*/
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-right: 20px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  display: block;
  padding: 5px 25px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
  border-radius: 30px;
  color: #756e1f;
  background-color: #fffaed;
  text-decoration: underline;
}
.menu a:hover {
  background-color: #756e1f;
  color: #fffaed;
}
/*Burger menuen, bruges i telefon format*/
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
/*Grid til billedernes placering på restaurant siderne*/
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
/*Billedernes placering i grid'et*/
.gallery img:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.gallery img:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.gallery img:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.gallery img:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}
.gallery img:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}
.gallery img:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}
.gallery img:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}
.gallery img:nth-child(8) {
  grid-column: 2;
  grid-row: 4;
}
/*Placering af første billede og tekst på mad siderne*/
.mad_menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/*Placering af 2 billede og tekst på mad siderne*/
.mad_menu_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
/*fjerne standard style*/
.menu_2 {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*styling for hver knap*/
.menu_2 li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/*styling af selve knappens desgin*/
.menu_2 li a {
  width: 100%;
  padding: 5px 35px;
  background-color: #756e1f;
  color: #fffaed;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 15px;
  border-radius: 20px;
  text-align: center;
}
/*knappens farve når musen er på*/
.menu_2 li a:hover {
  background-color: #ffda7f;
  color: #756e1f;
}
/*footerens desdign*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  background-color: #f3e7c1;
  padding: 20px 40px;
}
.footer-logo img {
  width: 120px;
  height: auto;
}
.footer-info {
  display: flex;
  gap: 100px;
  grid-column: 2;
  grid-row: 1;
}
.footer-email {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-email input {
  padding: 0.5em 1em;
  border: 1px solid #934133;
  background-color: #fffaed;
  color: #934133;
  width: 100%;
  text-align: center;
}
.footer-email button {
  padding: 10px;
  background-color: #934133;
  color: #fffaed;
  border: none;
  cursor: pointer;
  width: 100%;
}
/*Stole og bord billeder placeret på forsiden*/
.billede_forside_1 {
  width: 70%;
  display: block; /* gør billedet til blok, så margin virker */
  margin: 0 auto; /* centrerer billedet */
}
/*Teksten som er på forsiden, omrking hjemmesidens formål*/
.forside_tekst {
  width: 50%;
  display: block;
  margin: auto;
}
/*Kort billedet som er placeret på de enkle restaurant sider*/
.kortbillede {
  display: grid;
  grid-row: 1;
  grid-column: span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Billeder som ses på restaurant siderne når man går ind på de enkle restauranter*/
.restaurant_billede_2side {
  max-width: 875px;
}
/*Maps billedet på forsiden*/
.map-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.map-container img {
  width: 80%;
  max-width: 950px;
}
/* Pin på map billedet */
.pin {
  position: absolute;
  transform: translate(-50%, -100%);
  cursor: pointer;
}
.pin img {
  width: 85%;
}
/* Teksten når musen er på en pin */
.tooltip {
  position: absolute;
  background: #fffaed;
  color: #934133;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  white-space: nowrap;
  transform: translate(-50%, -150%);
  opacity: 0;
  pointer-events: none;
}
/* Viser kun teksten, når man holder over den rigtige pin */
.pin:hover .tooltip {
  opacity: 1;
}
